.header {
    height: 100vh;
    /* width: 100%; */
    position: relative;
}

h1 {
    font-size: 1.7rem;
    color: cornflowerblue;
    text-align: center;
}

h2,
h3 {
    font-size: 1.5rem;
}

.carousel-inner {
    height: 100vh;
    width: 100%;

}

.logo {
    height: 50vh;
    width: 70vW;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    z-index: 1;
    top: 1rem;
}



p,
h2,
h3 {
    margin: 5px;
    padding: 10px;
}


/* N A W I G A T I O N */

.navigation {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
}


.nav a,
.nav_div i {
    color: white;
    text-decoration: none;
}

p {
    text-align: justify;
}

.social {
    padding: 0 20px;
}

.social:hover {
    color: rgb(7, 24, 24);
    transition: 0.3s;
}

.nav_div {
    padding: 20px
}

.nav_div:hover {
    background-color: rgb(18, 80, 121);
    transition: 1s;
}

.nav_div__inner {
    width: 100%;

}

.nav_div--one {
    background-color: rgb(92, 155, 29);
}

.nav_div--two {
    background-color: rgb(71, 117, 24);
}

.nav_div--three {
    background-color: rgb(100, 163, 36)
}

.nav_div--four {
    background-color: rgb(111, 180, 42)
}

.nav_div--five {
    background-color: rgb(92, 155, 29);
}

.nav_div--six {
    background-color: rgb(61, 107, 15);
}

/* s e c t i o n s  */
.about {
    background-color: darkgreen;
    color: white;
}

.ideas p {
    background-color: cornflowerblue
}

.section_header p {
    background-color: white;
}

.methods ul {
    text-align: justify;
    margin: 10px
}

.methods ul li {
    padding: 20px 0 0 0
}

/* accordeon */

.card-body {
    background-color: lawngreen;
    text-align: justify;

}

footer {
    background-color: darkgreen;
    color: white;

}

footer p {
    text-align: center;
}

footer a {
    color: cornflowerblue
}

footer a:hover {
    color: lawngreen;
    transition: 1s;
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo {
        height: 25%;
    }

    .carousel-inner {
        height: 35rem;
    }
}